.about_body {
  background-color: lightblue;
}

.about_div {
  display: flex;
  position: relative;
}
.about_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  align-content: space-between;
  line-height: 2.5;
  margin-left: 24rem;
  margin-top: 7rem;
}
.about_headline {
  display: flex;
  justify-self: center;
}
