.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.imageButton {
  background-color: #76caca;
  border: none;
  color: white;
  font-weight: 450;
  font-size: 1.3rem;
  transition: 0.3s;
  padding: 8px 50px 8px 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.imageButton:hover {
  opacity: 0.8;
  background-color: #e99fa4;
}

.img-gallery {
  background-image: url("/img/bottle_cheers_cropped.jpg");
  background-position: center;
  background-size: cover;
  width: 750px;
  height: 760px;
}
