.contact_body {
  background-color: lightblue;
}
.contact_section {
  display: flex;
  flex-direction: column;
}
.contact_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20rem;
}
