.section_1 {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.div_1 {
  padding: 2rem;
  width: fit-content;
}

.div_2 {
  width: fit-content;
  margin: 2rem;
}

.img_1 {
  width: 25rem;
  height: 40rem;
}

.headline {
  font-size: 4rem;
}

.underline {
  margin: 1rem;
}
.p_1 {
  font-size: 3rem;
  width: fit-content;
  margin: 3rem;
}

.button_1 {
  background-color: rgb(107, 186, 231);
  border-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 25px;
  margin: 2rem;
}

.list_1 {
  width: fit-content;
  line-height: 175%;
  margin: 2rem;
}
.list_h1 {
  margin-bottom: 1rem;
}

.section_2 {
  padding: 2rem;
  margin: 2rem;
}

.div_3 {
  display: flex;
  justify-content: center;
}

.img_2 {
  display: flex;
  padding: 2rem;
  justify-self: center;
}

.div_4 {
  display: flex;
}

.section_2_headline {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  margin: 2rem;
  padding: 2rem;
  width: fit-content;
  height: fit-content;
}

.p_2_product {
  display: flex;
  text-align: center;
  font-size: 1.25rem;
  width: 35rem;
  height: fit-content;
  line-height: 2.5;
  padding: 2rem;
  margin: 2rem;
}

.section-mid {
  width: 100%;
  padding: 60px 60px 10px 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  position: relative;
}

.text-mid {
  text-align: right;
  padding: 0px 60px 50px 0px;
}
.picture-text {
  font-size: 60px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 150px;
  left: 100px;
}

.products {
  padding: 80px 60px 150px 60px;
}

.bottles {
  flex: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-between;
  
  text-align: center;
}

.newproducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

.prod-text {
  color: black;
}

.buyNow {
  background-color: #76caca;
  color: white;
  border: none;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.buyNow:hover {
  opacity: 0.8;
  background-color: #e99fa4;
}

.p_2_product {
  color: black;
}
