.wishlist-body {
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(8px);
}

.wishlist-title {
  margin-top: 7rem;
  margin-left: 15rem;
}

.products-container {
  min-height: 30rem;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(221, 221, 221);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.wishlistProducts {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wishproduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black dotted 2px;
  margin: 0 5%;

  img {
    max-width: 50px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 100px;
    margin-right: 2rem;
  }
}

/*=============MEDIA QUERIES=============*/

@media only screen and (max-width: 768px) {
    .wishlist-title {
        margin-left: 0;
        text-align: center;
      }
    .products-container {
        width: auto;
      }
    .wishlistProduct {
        display: flex;
        justify-content: space-between;
    }
}